<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
        <a href="/"><button class="btn">Go Back To Home</button></a>
        <div class="title">Registration</div>
        <div class="content">
            <form action="/hospital" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Organisation Name</span>
                        <input type="text" name="organisation" placeholder="Enter organisation name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" name="address" placeholder="Enter your address" required>
                    </div>
                    <div class="input-box">
                        <span class="details">City</span>
                        <input type="text" name="city" placeholder="Enter city" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" name="phone" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" name="conpassword" placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="user-details">
                    <div class="title">Add Blood</div>
                    <div id="p">Please add the details of available blood in litres.</div>
                    <div class="input-box">
                        <span class="details">O+</span>
                        <input type="number" name="Op" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">O-</span>
                        <input type="number" name="On" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">A+</span>
                        <input type="number" name="Ap" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">A-</span>
                        <input type="number" name="An" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">B+</span>
                        <input type="number" name="Bp" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">B-</span>
                        <input type="number" name="Bn" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">AB+</span>
                        <input type="number" name="ABp" placeholder="Units of Blood" required>
                    </div>
                    <div class="input-box">
                        <span class="details">AB-</span>
                        <input type="number" name="ABn" placeholder="Units of Blood" required>
                    </div>
                </div>


                <div class="button">
                    <button class="btn" type="submit" >Register</button>
                </div>
            </form>
            <div>Already a user?<a href="/login"> login</a></div>
        </div>
    </div>
</body>

</html>