*{
    margin: 0;
    padding: 0;
}
body
{
background-image: url(../white1.jpg);
/* background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)); */
background-repeat: no-repeat;
background-size: cover;
}
.part1
{
text-align: center;
padding-top: 50px;
padding-right: 100px;
padding-left: 100px;
font-size: 120;
}


ul{
    display: flex;
    flex-direction: row;
    background-color: #283d4e;
}
li{
    list-style: none;
    padding: 4px;
    color: white;
    font-size: 20px;
}
.nav{
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    color: white;
}
#flag{
    height: 25px;
    margin-left: 26px;
  }
.india{
    display: flex;
    flex-direction: row;
    padding-top:15px ;
}
.below
{
  background-color: black;
  color: white;
  padding-bottom: 16px;
}
a:hover
{
  opacity: 70%;
  /* background-color: rgb(50, 203, 241); */
  color: rgb(240, 240, 106);
  text-shadow: 5px 5px 10px white ;
  border: white;
}
p{
    font-size: 20px;
    font-weight: bolder;
}
.content{
    padding-bottom: 100px;
}
h1{
    text-decoration: underline;
}